---
---

$customcolor: lightsalmon;
$header: $customcolor;

@import "{{ site.theme }}";


header {
  border-bottom: 1px dashed gray;
}

header h1 {
  color: $customcolor;
}

ul li {
  list-style-image: none;
  color: $customcolor;
}

body {
  background-image: none;
  background-color: #320816;
}
